<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete comment</title>
</head>
<body>
    <form action="/" method="get">
        <h3>刪除留言</h3>
        <p>請再次輸入您的名字和留言編號來刪除留言</p><br>
        第<input type="number" name="comfirm2">筆留言<br>
        你的名字<input type="text" name="confirm"/><br>
        <button>確認刪除</button>
    </form>
    
</body>
</html>